<div class = 'instructions row'>
  <div class = 'container'>
    <div class = 'col-md-10' ng-include="'views/partials/nav.html'"></div>
    <div class = 'logout col-md-2'>
      <button class="btn btn-default" ng-click="logout()">Log Out</button>
      <!-- <a ng-click="logout()">Log Out</a> -->
    </div>
  </div>
</div>


  <div class = 'container'>
      <h2 id="welcome">Welcome, {{userObject.userName}}!</h2>
      <h3>Create a New Session and Add Questions</h3>
      <!-- <button class="btn btn-default" ng-click="logout()">Log Out</button> -->
      <form ng-submit = ''>
        <div>
            <input class = 'user-input' type = 'text' placeholder = 'Session Name' ng-model = '' />
        </div>
        <div>
            <input class = 'user-input' type = 'text' placeholder = 'Session Theme' ng-model = '' />
        </div>
        <div>
            <input class = 'user-input' type = 'text' placeholder = 'Add a Question' ng-model = ''/>
        </div>
      </form>
  </div>
