<!-- header -->
<header ng-include="'/views/partials/header.html'"></header>

<!-- login -->
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-offset-2 col-md-10'>
      <h2>Table Topics Discussion Practice Group:</h2>
    </div>
  <div class = 'row'>
    <div class = 'col-md-offset-2 col-md-8'>
      <p class = 'add-margin'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin risus tempus lobortis molestie. Mauris hendrerit, eros nec tempor tristique, sapien libero commodo magna, vitae tempus quam lacus non dolor. Nunc interdum tempus lacus, in porttitor felis mattis imperdiet. Etiam eget suscipit mi. In at ultricies augue, et efficitur orci. Proin vulputate ex turpis, a rhoncus metus scelerisque at. Phasellus at tellus ut nibh congue ornare eget a nisi.</p>
    </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <div class = ' login-container row'>
    <div class = 'col-md-offset-4 col-md-4 col-md-offset-4'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>

          <h2>Login to Begin</h2>

          <h5 class = 'alert alert-danger' role = 'alert' ng-if = "message != ''">{{message}}</h5>

          <form ng-submit = 'login()'>
            <div>
                <input class = 'user-input' type = 'text' placeholder = 'username' ng-model = 'user.username' />
            </div>
            <div>
                <input class = 'user-input' type = 'password' placeholder = 'password' ng-model = 'user.password' />
            </div>
            <div>
                <input class = 'btn btn-default' type = 'submit' name = 'submit' value = 'Log in' />
                <br>
                <a href = '#register'>Register</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
