<div class = 'container'>
  <div id = 'introTron' class = 'jumbotron'>
    <h2>Table Topics</h2>
    <h2>Discussion</h2>
    <h2>Practice Group</h2>
    <div>
      <input class = 'btn btn-default submit' type = 'button' name = 'buton' value = 'Start Session' ng-click = 'startSession(currentSessionObject)'/>
    </div>
    <div>
      <button type="button" class="btn btn-default btn-sm" ng-click = 'goBack()' >
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>
    </div>
  </div>
</div>
