*{
  margin: 0px;
  padding: 0px;
}

h1,h2,h5{
  text-transform: uppercase;
}


#headerLogo{
  border-radius: 15px;
  float:left;
  height: 150px;
  padding: 10px;
  width: 150px;
}


.login-container{
  padding: 20px;
  text-align: center;
}

.user-input{
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.login-error{
  text-transform: uppercase;
}

/*EVERYTHING BELOW IS FROM THE ORIGINAL BASE PROJECT FILE*/

/*header.html uses this*/
.instructions {
    background-color: #333333;
    color: #DDDDDD;
}

/*header.html uses this*/
.instructions .container h1 {
    font-size: 100px;
    font-weight: 700;
}

#entryForm {
    margin-top: 14px;
}

/*lots of containers throughout*/
#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
