*{
  margin: 0px;
  padding: 0px;

}

body{
  background-color: lightgoldenrodyellow;
  height: 100%;
  position: relative;
  color: #slategrey;
}

h1,h2,h5{
  text-transform: uppercase;
}

.center{
  text-align: center;
}

#introTron{
  background-color: white;
  background-image: url(/styles/images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  margin-top: 50px;
  text-align: right;
}

#headerLogo{
  border-radius: 15px;
  float:left;
  height: 100px;
  margin-top: 18px;
  padding: 10px;
  width: 100px;
}


.login-container{
  padding: 20px;
  text-align: center;
}

.user-input{
  margin: 5px;
  padding: 10px;
  text-align: left;
}

.login-error{
  text-transform: uppercase;
}

.logout{
  text-align: center;
}

.new-session-form{

}

.drop-down-scroll{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.submit{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.question-list{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.participant-list{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.breadcrumb{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

#createSession{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#addParticipants{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#preScrollOverride{
  max-height: 500px;
}

.red{
  color: crimson;
}

.green{
  background-color: olivedrab;
}

#nameAndTheme{
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}


#participantsColumn{
  /*background-color: whitesmoke;*/
  text-align: center;
}

#participantsSpacing{
    margin-top: 5px;
    margin-left: 5px;

}

.well-sm{
  margin-top: 1px;
  margin-bottom: 0px;
}

.btn{
  margin: 5px;
}

#chooseNext{
  background-color: palegoldenrod;
  margin-top: 5px;
  /*padding: 10px;*/
  text-align: center;
  position: fixed;
  bottom: 0;
}

#timer{
  background-color: whitesmoke;
  min-height: 200px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

#relative{
  position: relative;
}

#fixed{
  position: fixed;
  bottom: 0;
}

/*EVERYTHING BELOW IS FROM THE ORIGINAL BASE PROJECT FILE*/

/*header.html uses this*/
.instructions {
    background-color: palegoldenrod;
    color: #3399ff;
}

/*header.html uses this*/
.instructions .container h1 {
    font-size: 80px;
    font-weight: 700;
}

#entryForm {
    margin-top: 14px;
}

/*lots of containers throughout*/
#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
