/*elements*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'News Cycle', sans-serif;
  background-color: white;
  height: 100%;
  position: relative;
  color: #slategrey;
}

h1{
  text-transform: uppercase;
}

/*order of appearance*/
/*general use*/
.container {
    margin-top: 10px;
}

.user-input{
  margin: 5px;
  padding: 10px;
  text-align: left;
}

.red{
  color: crimson;
}

.blue{
  background-color: #3399ff;
}

.well-sm{
  margin-top: 1px;
  margin-bottom: 0px;
}

.btn{
  margin: 5px;
}

.button-right{
  text-align: right;
}

.center{
  text-align: center;
}

.breadcrumb{
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

/*header*/
#headerLogo{
  border-radius: 15px;
  float:left;
  height: 100px;
  margin-top: 8px;
  padding: 10px;
  width: 100px;
}

/*home*/
/*register*/
.login-container{
  padding: 20px;
  text-align: center;
}

/*createSession*/
.create-session{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#welcomeButtons{
  margin-top: 14px;
  margin-bottom: 4px;
}

.drop-down-scroll{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#preScrollOverride{
  max-height: 500px;
}

.question-list{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
    /*this formatting is used multiple times*/

/*addParticipants*/

/*sessionIntro*/
#introTron{
  background-image: url(/styles/images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  margin-top: 50px;
  text-align: right;
  background-color: white;
}

/*session*/





.submit{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}



.participant-list{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}







#addParticipants{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}







#nameAndTheme{
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  min-height: 225px;
}


#participantsColumn{
  margin-top: 4px;
  padding: 10px;
  /*background-color: whitesmoke;*/
  text-align: center;
}

#participantsSpacing{
    margin-left: 5px;
}

#participant{
  text-align: left;
  font-size: 20px;
}



#chooseNext{
  margin-top: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
}

#timer{
  min-height: 225px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

#timer h1{
  font-size: 150px;
}

#relative{
  position: relative;
}

#fixed{
  position: fixed;
  bottom: 0;
}

#sessionLogo{
  height: 200px;
  width: 200px;
}

/*From BASE Project*/
/*#entryForm {
    margin-top: 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}*/
