*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: ivory;
}

h1,h2,h5{
  text-transform: uppercase;
}

#headerLogo{
  border-radius: 15px;
  float:left;
  height: 100px;
  margin-top: 18px;
  padding: 10px;
  width: 100px;
}


.login-container{
  padding: 20px;
  text-align: center;
}

.user-input{
  margin: 5px;
  padding: 10px;
  text-align: left;
}

.login-error{
  text-transform: uppercase;
}

.logout{
  text-align: center;
}

.new-session-form{

}

.drop-down-scroll{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.submit{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.question-list{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.participant-list{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.breadcrumb{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

#createSession{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#addParticipants{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#preScrollOverride{
  max-height: 500px;
}

.red{
  color: crimson;
}

.green{
  background-color: lightgreen;
}

#nameAndTheme{
  background-color: ghostwhite;
  margin-top: 5px;
  padding: 50px;
}

#chooseNext{
  background-color: whitesmoke;
  margin-top: 5px;
  padding: 50px;
  text-align: center;

}

#participantsColumn{
  background-color: floralwhite;
  margin-top: 5px;
  text-align: center;

}

.well-sm{
  margin-top: 1px;
  margin-bottom: 0px;
}

.btn{
  margin: 5px;
}


/*EVERYTHING BELOW IS FROM THE ORIGINAL BASE PROJECT FILE*/

/*header.html uses this*/
.instructions {
    background-color: dimgray;
    color: ghostwhite;
}

/*header.html uses this*/
.instructions .container h1 {
    font-size: 80px;
    font-weight: 700;
}

#entryForm {
    margin-top: 14px;
}

/*lots of containers throughout*/
#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
