<div class="instructions">
    <!-- <div class="container"> -->
      <div class = 'row'>

        <!-- <ul>
          <li><a href="#/user">User Home</a></li>
          <li><a href="#/info">Info Page</a></li>
        </ul> -->
        <!-- <ol class="breadcrumb">
          <li><a href="#/">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol> -->

        <ol class="breadcrumb">
          <li class="active">Create Session</li>
          <li>Enter Participants</li>
          <li>Practice Session</li>
        </ol>

      </div>
      <!-- end row -->
    <!-- </div> -->
    <!-- ends container -->
</div>
<!-- ends header styling -->
