<header ng-include="'/views/partials/header.html'"></header>
<div class = 'instructions'>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-md-10' ng-include="'views/partials/nav.html'"></div>
      <div class = 'logout col-md-2'>
        <button class="btn btn-default" ng-click="logout()">Log Out</button>
      </div>
    </div>
  </div>
</div>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-10'>
      <h2>{{currentSessionObject.data.sessionTheme}}</h2>
      <h3>There are {{currentSessionObject.data.questionsArray.length}} questions prepared for this session.</h3>
      <h3>There are {{sessionObject.participantsArray.length}} participants in this session.</h3>
    </div>
    <div class = 'col-md-2'>
      <button type="button" class="btn btn-default" ng-click = 'saveParticipants(currentSessionObject, sessionObject)' >
        <span class="glyphicon glyphicon-floppy-disk"></span> Save Participants
      </button>
      <!-- <input class = 'btn btn-default submit' type = 'button' name = 'buton' value = 'Save Participants' ng-click = 'saveParticipants(currentSessionObject, sessionObject)'/> -->
    </div>
  </div>


  <!-- add participants input fields -->
  <div id = 'addParticipants' class = 'row'>
    <div class = 'col-md-12'>
      <input class = 'user-input' type = 'text' placeholder = 'Add a Participant' ng-model = 'newParticipant' ng-keydown = '($event.keyCode === 13 || $event.keyCode === 9) && addParticipant(newParticipant)'/>
      <span>Press Enter to Add Participant</span>
    </div>
  </div>
  <!-- ends add participants input fields -->

  <!-- participant display div -->
  <div id = 'preScrollOverride' class = 'pre-scrollable row'>
    <ul class="list-group" ng-repeat = 'participant in sessionObject.participantsArray track by $index'>

      <div class = 'row'>

        <div class = 'col-md-10'>
          <li class="list-group-item participant-list">{{participant}}</li>
        </div>

        <div class = 'col-md-2'>
          <button type="button" class="btn btn-default btn-sm" ng-click='deleteParticipant($index)' >
            <span class="glyphicon glyphicon-remove red"></span>
          </button>
        </div>

      </div>
      <!-- ends row -->
    </ul>
    <!-- ends unordered list and ng-repeat -->
  </div>
  <!-- ends participant display div -->

</div>
<!-- ends continer -->
