<div class = 'instructions row'>
  <div class = 'container'>
    <div class = 'col-md-10' ng-include="'views/partials/nav.html'"></div>
    <div class = 'logout col-md-2'>
      <button class="btn btn-default" ng-click="logout()">Log Out</button>
      <!-- <a ng-click="logout()">Log Out</a> -->
    </div>
  </div>
</div>


  <div class = 'container'>
      <h2 id="welcome">Welcome, {{userObject.userName}}!</h2>
      <h3>Create a New Session and Add Questions</h3>

      <form class = 'new-session-form' ng-submit = ''>
        <div>
            <input class = 'user-input' type = 'text' placeholder = 'Session Name' ng-model = '' />
        </div>
        <div>
            <input class = 'user-input' type = 'text' placeholder = 'Session Theme' ng-model = '' />
        </div>
        <div>
            <input class = 'user-input' type = 'text' placeholder = 'Add a Question' ng-model = ''/>
        </div>
        <div>
          <ul class="list-group" ng-reapeat = ''>
            <li class="list-group-item question-list">This will be a question that the session organizer will have typed in.</li>
          </ul>
        </div>
        <div>
            <input class = 'btn btn-default submit' type = 'submit' name = 'submit' value = 'Create Session' />
        </div>
      </form>
  </div>
