<header ng-include="'/views/partials/header.html'"></header>

<div class = 'container login-container'>
  <div class = 'row'>
    <div class = 'col-md-offset-4 col-md-4 col-md-offset-4'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>

          <h2>Login to Begin</h2>
          <!-- end login panel header -->
          <h5 class = 'alert alert-danger' role = 'alert' ng-if = "message != ''">{{message}}</h5>
          <!-- error message for loggin in -->

          <form ng-submit = 'login()'>
            <div>
                <input class = 'user-input' type = 'text' placeholder = 'username' ng-model = 'user.username' />
            </div>
            <div>
                <input class = 'user-input' type = 'password' placeholder = 'password' ng-model = 'user.password' />
            </div>
            <div>
                <input class = 'btn btn-default' type = 'submit' name = 'submit' value = 'Log in' />
                <br>
                <a href = '#register'>Register</a>
            </div>
          </form>
          <!--ends form-->

        </div>
        <!-- ends panel-body -->
      </div>
      <!-- ends panel -->
    </div>
    <!-- ends column -->
  </div>
  <!-- ends row -->
</div>
<!-- ends container -->
