<div class = 'instructions row'>
  <div class = 'container'>
    <div class = 'col-md-10' ng-include="'views/partials/nav.html'"></div>
    <div class = 'logout col-md-2'>
      <button class="btn btn-default" ng-click="logout()">Log Out</button>
    </div>
  </div>
</div>

<div class = 'container'>

  <div class = 'row'>

    <div class = 'col-md-9'>
      <div class = 'row'>
        <div id = 'nameAndTheme' class = 'col-md-12'>
          <!-- <h2>{{currentSessionObject.data.sessionName}}</h2> -->
          <h2>Today's Theme: {{currentSessionObject.data.sessionTheme}}</h2>
          <h2>NumRound: {{randoms.numRound}}</h2>
          <h2>CurrentRound: {{randoms.currentRound}}</h2>
          <h2>Question: {{randoms.randomQuestions[randoms.currentRound]}}</h2>
          <h2>{{randoms.randomParticipants[randoms.currentRound]}}</h2>
        </div>
      </div>
      <div class = 'row'>
        <div id = 'chooseNext' class = 'col-md-12'>
          <input class = 'btn btn-default submit' type = 'button' name = 'button' value = 'Start Timer' ng-click = 'startTimer()'/>
          <input class = 'btn btn-default submit' type = 'button' name = 'button' value = 'Stop Timer' ng-click = 'stopTimer()'/>
          <input class = 'btn btn-default submit' type = 'button' name = 'button' value = 'Choose Next' ng-click = 'createSession(randoms)'/>
        </div>
      </div>
    </div>
    <!-- ends topic and timer div -->

    <div id = 'participantsColumn' class = 'col-md-3'>
      <div class="row">
          <div ng-repeat="participant in currentSessionObject.data.participantsArray track by $index">
              <div class="clearfix" ng-if="$index % 2 == 0"></div>
                <div class = 'col-sm-6 well well-sm green'>
                  {{participant}}
                </div>
          </div>
      </div>
    </div>
    <!-- ends name display div -->

  </div>
  <!-- ends main body row -->

</div>
<!-- ends container -->
