<div class = 'row'>
  <div class = 'col-xs-12 socket-center-div'>
    <img id = 'socketLogo' src= '/styles/images/logo.png'>
  </div>
</div>
<div class = 'row'>
  <div class = 'col-xs-12 socket-center-div'>
    <h3>Enter Your Name</h3>
  </div>
</div>
<div class = 'row'>
  <div class = 'col-xs-12 socket-center-div'>
    <input class = 'user-input socket-input' type = 'text' placeholder = 'First Name'/>
  </div>
</div>
<div class = 'row'>
  <div class = 'col-xs-12 socket-center-div'>
    <button type="button" class="btn btn-default" >
      Join Session
    </button>
  </div>
</div>
